<!--Student name : Namirabanu Malek,
student id : 301178112,
Subject :COMP229-web application development
Date : 10 feb 2021 -->
<!--Bottom Nav-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h10 class="display-6 navbar-text">&copy; Copyright 2020. All Rights reserved</h10>
    </nav>
  </footer>