  <!--Student name : Namirabanu Malek,
student id : 301178112,
Subject :COMP229-web application development
Date : 10 feb 2021 -->
  
  <!--Script Section-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/css/bootstrap.min.css"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>