<% include partials/header.ejs %>


<% include partials/main_nav.ejs %>
  


<div style="text-align: center;text-decoration-line: underline;">
    <h1>Contact me</h1><br>
</div>

<div class="row" >
    <div class="column" >
       
            <div class="jumbotron" style="height:400px; ;width: 500px;" >
                <h4>Mail me:</h4>
            </div>
         
    </div>        
        
    <div class="column" >
     
            <div class="container" style="margin-left: 30%;" >
           
            </div>
        
    </div>
</div>



<%include partials/bottom_nav.ejs %>


<% include partials/footer.ejs%>