 <% include partials/header.ejs%>


  <% include partials/main_nav.ejs %>
  
  
   <div style="text-align: center;">
      <h1>Welcome!I am Namira Malek</h1><br><br>
      <div class="container">
    

        <div style="text-align: center;">
        <h4>I am a designed focused android developer geeked out on best coding pracrices</h4>
        </div><br><br><br><br><br><br><br><br><br><br>
    <div class="container">
      <div class="jumbotron" >
      <h4>Connect with me on:</h4>
      <a href="https://www.linkedin.com/in/namira-malek-194535190"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.facebook.com/sanaya.malek.3/"><i class="fab fa-facebook"></i></a>
    </div>
  </div>
  </div>

   
    
   </div>
    
    </main>

<%include partials/bottom_nav.ejs %>


<% include partials/footer.ejs%>








