<% include partials/header.ejs%>


<% include partials/main_nav.ejs %>
  
<div style="text-align: center;color:black;text-decoration-line: underline;">
    <h1>Projects</h1>
    </div>
    <br><br><br><br><br>

         
         
   
    <div class="row" >
        <div class="column" style="max-width: 20%">
            <img src="/Assets/images/easyplantation.png" alt="responsive text" style="margin-left: 16%;" ><br><br><br>
        </div>
        <div class="column" style="margin-left: 38%;max-width: 40%">
            <h4>Easy Plantation</h4>
             <p>Easy plantation is an idea of android application which aims at providing the better
                information of plants. In agriculture department knowing a suitable soil, amount of water
                and rainfall is important factor. So, this application provides this important data about
                plants. Also, we can recognize a plant by capturing its photo. So, we can also get
                information about a plant which we are not aware about by clicking photo. And, this
                application also includes nearby seed shops address so that anyone can purchase seeds to
                plant.</p>
            </div>
        </div>

        <div class="row" >
            <div class="column" style="max-width: 20%">
                <img src="/Assets/images/news.png" alt="responsive text" >
            </div>
            <div class="column" style="margin-left: 38%;max-width: 40%"> 
                <h4>E-news</h4>
                <p>This is a material design complient news app that lets you choose what you want to be updated about.
                        News provided by newsapi.org.This is an android app.I made this whole </p>
                </div>
            </div>

            <div class="row" >
                <div class="column" style="max-width: 20%">
                    <img src="/Assets/images/patholab.png" alt="responsive text" >
                </div>
                <div class="column" style="margin-left: 38%;max-width: 40%">
                    <h4>Patholab Application</h4>
               
                    <p>Patholab application provides facility to select suitable date and time. 
                        Using this system user can search and select test, and user can also select test for his/her family members
                         and main facility provides by this system is customer don’t have go anywhere for test, 
                        lab technician will collect blood from customer’s residence.</p>
                    </div>
                </div>
        
    
    
    <%include partials/bottom_nav.ejs %>
    
    
    <% include partials/footer.ejs%>
