<!DOCTYPE html>
<html>


<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <% include ./partials/header %>
</head>

<body>
  <!-- Navigation-->
  <% include ./partials/main_nav %>
  <!-- Main content -->
  <main class="container">
    <div class="jumbotron">
     
      <div class="indexText" >
          <p>Thank You !!</p>
          <p>
            your Response Has Been submited and I will soon respond
           </p>
      </div>
    </div>
  </main>
  <% include ./partials/bottom_nav %>

      <!--Footer-->
    <% include ./partials/footer %>

</body>
</html>