<% include partials/header.ejs%>


<% include partials/main_nav.ejs %>

<div style="text-align: center;color:black;text-decoration-line: underline;">
    <h1>Service offered by me</h1>
    </div>
    <br><br><br><br><br>
  
<div class="row" >
    <div class="column" style="margin-left: 16%;">
        <img src="/Assets/images/Android.png" alt="responsive text"><br><br><br><br>
        <h4>Android Development</h4><br>
    </div>
    <div class="column" style="margin-left: 20%;">
        <img src="/Assets/images/web.png" alt="responsive text"><br><br><br>
        <h4>Website Development</h4>
        </div>
</div>


<%include partials/bottom_nav.ejs %>


<% include partials/footer.ejs%>