<!--Student name : Namirabanu Malek,
student id : 301178112,
Subject :COMP229-web application development
Date : 10 feb 2021 -->
<!--About page-->
<% include partials/header.ejs%>


<% include partials/main_nav.ejs %>
 


<div style="text-align: center;color:black;text-decoration-line: underline;">
    <h1>About Me</h1>
    </div>
    <br><br><br>
   
   
        <div style="text-align: center;">
       
               <img src="/Assets/images/profilephoto.jpg"></a><br><br><br>
           
        
               <h4>
                   <p>My name is Namirabanu Farukmiya.Originally from India,I belong to islam.I have completed my graduation in Information Technology and currently ,I am studying at Centennial college with major in Artificial Intelligence.
                   I love to learn new technologies or coding.I also love designing the apps.I like brainstorming ideas and iteratively experiment on them before implementation.
                   Apart from that,i love reading books especially about psychology and detective novels.I will never say no to a trip to an amazing place,and usually i am the one planning them.</p>
               </h4>   
         <p>  <h4>   Click <a href="https://drive.google.com/file/d/1HHvniga0wkSnkz2PJIA4jP71WxLeJOpq/view" target="_blank"> <u> Here </u> </a> for my Resume to know complete details about Me.. </h4> </p>
         
            </div>


<%include partials/bottom_nav.ejs %>


<% include partials/footer.ejs%>

