/* COMP229,Namirabanu Malek,301178112,10 feb 2021 */
/* custom css */

body {
  padding: 50px;
  font: 14px "Lucida Grande", italic;
 
}

a {
  color: #000000;
}

imageColumn{
  float: left;
  width: 25%;
  padding: 10px;
}

.row {

  display: flex;

  flex-wrap: wrap;
  padding: 0 1px;
}

/* Create four equal columns that sits next to each other */
.column {

  flex: 25%;
  max-width: 35%;
  padding: 0 4px;
}

